extends layout

block content
  div.container-fluid.max720
    div.row.my-3
      div.col-sm
        h4 #{title}: #{user.name}
        
    div.row
      div.col-sm
        div Do you really want to delete this user?
        
        form(method='POST' action='')
          div.form-group
            input#id.form-control(type='hidden',name='id', required=true, value=user._id )
    
          button.btn.btn-danger(type='submit') Delete
          
          a.btn.btn-secondary.ml-2(href=user.urlEdit) Cancel